{% extends "layout.html" %}
{% block body %}

<div class="heading-grid">
    <a href="{{ url_for('ingredients.ingredient', 
            ingredient_id=ingredient.id) }}" class="btn icon">
        <i class='bx bx-arrow-back'></i>
    </a>
    <h3>Edit ingredient</h3>
    <button class="btn icon delete"
            onClick="confirmDelete('{{ ingredient.name }}',
            '{{ url_for('ingredients.delete',
                ingredient_id=ingredient.id) }}')">
        <i class='bx bx-trash'></i>
    </button>
</div>
<form method="post" action="" class="flex" novalidate>
    {{ form.hidden_tag() }}
    {{ form.name(autocomplete="off", autofocus=true,
        class="form error" if form.name.errors else "form",
        onfocus="var temp_value=this.value;
            this.value='';
            this.value=temp_value") }}
    {{ form.submit(value="Save", class="btn flex-0") }}
</form>

{% endblock %}