{% extends "layout.html" %}
{% block body %}

<div class="heading-grid">
    <a href="{{ url_for('recipes.home')}}" class="heading-icon">
        <i class='bx bx-arrow-back'></i>
    </a>
    <h3>{{ recipe.name }}</h3>
    {% if recipe.owner == current_user %}

    <button id="heading-menu-btn" class="btn invis heading-icon"
            onClick="toggleHeadingMenu()">
        <i class='bx bx-dots-horizontal'></i>
    </button>

    <div id="heading-menu" class="invisible">
        <a href="{{ url_for('recipes.edit', recipe_id=recipe.id) }}">
            Edit
            <i class='bx bx-edit-alt' ></i>
        </a>
        <button class="btn delete" onClick="confirmDelete('{{ recipe.name }}',
                '{{ url_for('recipes.delete', recipe_id=recipe.id) }}')">
            Delete
            <i class='bx bx-trash'></i>
        </button>
    </div>
    {% else %}
    <div></div>
    {% endif %}
</div>
<div class="subtitle">
    By {{ recipe.owner.email }}
</div>
{{ recipe.servings }} servings
<ul>
    {% for ingredient in recipe.ingredients %}
    <li>
        {{ ingredient.amount | trim_decimals }}
        {{ ingredient.unit }}
        {{ ingredient.ingredient.name }}
    </li>
    {% endfor %}
</ul>
{% if recipe.instructions %}
{% for line in recipe.instructions.split('\n') %}
<div class="instruction-line">
    <input type="checkbox" id="instruction-{{ loop.index }}">
    <label for="instruction-{{ loop.index }}">{{ line }}</label>
</div>
{% endfor %}
{% endif %}

{% endblock %}